:root {
    --bg-paper: #e4e0d9;
    --ink: #1a1a1a;
    --accent: #ff3e00;
}

body {
    background-color: #1a1a1a;
    background-image: radial-gradient(#333 10%, transparent 10%);
    background-size: 20px 20px;
    color: var(--ink);
    font-family: "Courier New", Courier, monospace;
    display: flex; justify-content: center; align-items: center; min-height: 100vh; margin: 0;
}

.app-container {
    background: var(--bg-paper);
    width: 90%; max-width: 400px; padding: 40px 20px;
    box-shadow: 12px 12px 0px #000; border: 2px solid var(--ink); position: relative;
}

.screen.hidden { display: none; }

.btn-zinc {
    width: 100%; padding: 15px; background: var(--ink); color: #fff;
    border: none; cursor: pointer; font-weight: bold; font-family: inherit; text-transform: uppercase;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}

.btn-zinc:active { transform: translate(2px, 2px); box-shadow: 2px 2px 0px rgba(0,0,0,0.2); }

input {
    width: 100%; padding: 12px; margin-bottom: 10px; border: 2px solid var(--ink);
    font-family: inherit; box-sizing: border-box;
}

.rules-box { border: 2px dashed var(--ink); padding: 15px; margin-bottom: 20px; background: rgba(255,255,255,0.5); }

/* Игровая карта */
.game-card {
    background: #fff; border: 2px solid var(--ink); padding: 40px 10px;
    text-align: center; margin: 20px 0; position: relative;
}

.letter-tag {
    position: absolute; top: -15px; left: 15px;
    background: var(--ink); color: #fff; padding: 5px 15px; font-weight: bold;
}

.word-display { font-size: 2.2rem; font-weight: 900; }

.word-blur { filter: blur(10px); user-select: none; opacity: 0.3; }

#timer { font-size: 3rem; text-align: center; color: var(--accent); font-weight: 900; margin-bottom: 10px; }

.zine-back-button { position: absolute; top: 10px; left: 10px; font-size: 0.7rem; color: var(--ink); text-decoration: none; }
